<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title -->
    <title>Login Sistema MarcoA</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">

    <!-- Arquivos CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap4-toggle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Chart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">

</head>
<body>
    {% include 'messages.html' %}
    
    <form class="form-signin" method="post" action=".?next={{ redirect_to }}"> {% csrf_token %}
        <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="280" height="150">
        <h5 class="h5 mb-3 font-weight-normal">Faça login</h5>
        <label for="username" class="sr-only">Usuário</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Usuário" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required>
        <!--<div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Lembrar de mim
            </label>
        </div>-->
        <button class="btn btn-lg btn-warning btn-block" type="submit">Acessar</button>
    </form>

    <!-- Scripts .js -->
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
    <script src="{% static 'js/Chart.bundle.js' %}"></script>
    <script src="{% static 'js/Gauge.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>