<script>
  console.log({{row}})

</script>
<form method="post" action="{% url 'ajust_status_new' pk=row %}" class="js-ajust-status-new-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Ajustar Novo Status</h4>
  </div>
  <div class="modal-body">
    {% include 'partial_ajust_status_new_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-primary">Ajustar</button>
  </div>
</form>